:root {
  /*****************************************************************************
	* Theme config
	**/
  --pst-header-height: 50px;

  /*****************************************************************************
	* Font size
	**/
  --pst-font-size-base: 15px;
  /* base font size - applied at body / html level */

  /* heading font sizes */
  --pst-font-size-h1: 36px;
  --pst-font-size-h2: 32px;
  --pst-font-size-h3: 26px;
  --pst-font-size-h4: 21px;
  --pst-font-size-h5: 18px;
  --pst-font-size-h6: 16px;

  /* smaller then heading font sizes*/
  --pst-font-size-milli: 12px;

  --pst-sidebar-font-size: 0.9em;
  --pst-sidebar-caption-font-size: 0.9em;

  /* Section Headings */
  --pst-font-size-section-h3: 21px;
  --pst-font-size-section-h4: 18px;
  --pst-font-size-section-h5: 16px;

  /*****************************************************************************
	* Font family
	**/
  /* These are adapted from https://systemfontstack.com/ */
  --pst-font-family-base-system: "Open Sans",
    "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  --pst-font-family-monospace-system: "SFMono-Regular", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;

  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base-system);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);
}

html[data-theme="light"] {
  /*****************************************************************************
  * Color
  *
  * Colors are defined in rgb string way, "red, green, blue"
  **/

  /* --pst-color-primary: 19, 6, 84; */
  /* --pst-color-primary: 0, 123, 255; */
  /* --pst-color-primary: 4, 117, 238; */
  
  
  /* Originals */
  --pst-color-primary: #232323;
  --pst-color-primary-text: #fff;
  --pst-color-primary-highlight: #053f49;
  --sd-color-primary: var(--pst-color-primary);
  --sd-color-primary-text: var(--pst-color-primary-text);
  --sd-color-primary-highlight: var(--pst-color-primary-highlight);
  --sd-color-primary-bg: #d0ecf1;
  --sd-color-primary-bg-text: #14181e;
  --pst-color-secondary: #0c56e9;
  --pst-color-secondary-text: #fff;
  --pst-color-secondary-highlight: #591bc2;
  --sd-color-secondary: var(--pst-color-secondary);
  --sd-color-secondary-text: var(--pst-color-secondary-text);
  --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
  --sd-color-secondary-bg: #e0c7ff;
  --sd-color-secondary-bg-text: #14181e;
  --pst-color-success: #00843f;
  --pst-color-success-text: #fff;
  --pst-color-success-highlight: #00381a;
  --sd-color-success: var(--pst-color-success);
  --sd-color-success-text: var(--pst-color-success-text);
  --sd-color-success-highlight: var(--pst-color-success-highlight);
  --sd-color-success-bg: #d6ece1;
  --sd-color-success-bg-text: #14181e;
  --pst-color-info: #276be9;
  --pst-color-info-text: #fff;
  --pst-color-info-highlight: #124ab1;
  --sd-color-info: var(--pst-color-info);
  --sd-color-info-text: var(--pst-color-info-text);
  --sd-color-info-highlight: var(--pst-color-info-highlight);
  --sd-color-info-bg: #dce7fc;
  --sd-color-info-bg-text: #14181e;
  --pst-color-warning: #f66a0a;
  --pst-color-warning-text: #14181e;
  --pst-color-warning-highlight: #ad4a06;
  --sd-color-warning: var(--pst-color-warning);
  --sd-color-warning-text: var(--pst-color-warning-text);
  --sd-color-warning-highlight: var(--pst-color-warning-highlight);
  --sd-color-warning-bg: #f8e3d0;
  --sd-color-warning-bg-text: #14181e;
  --pst-color-danger: #d72d47;
  --pst-color-danger-text: #fff;
  --pst-color-danger-highlight: #9a1d30;
  --sd-color-danger: var(--pst-color-danger);
  --sd-color-danger-text: var(--pst-color-danger-text);
  --sd-color-danger-highlight: var(--pst-color-danger-highlight);
  --sd-color-danger-bg: #f9e1e4;
  --sd-color-danger-bg-text: #14181e;
  --pst-color-light: #f3f4f5;
  --pst-color-light-text: #14181e;
  --pst-color-light-highlight: #c9ced2;
  --sd-color-light: var(--pst-color-light);
  --sd-color-light-text: var(--pst-color-light-text);
  --sd-color-light-highlight: var(--pst-color-light-highlight);
  --sd-color-light-bg: #f7f7f8;
  --sd-color-light-bg-text: #14181e;
  --pst-color-muted: #29313d;
  --pst-color-muted-text: #fff;
  --pst-color-muted-highlight: #0a0c0f;
  --sd-color-muted: var(--pst-color-muted);
  --sd-color-muted-text: var(--pst-color-muted-text);
  --sd-color-muted-highlight: var(--pst-color-muted-highlight);
  --sd-color-muted-bg: #5a6c86;
  --sd-color-muted-bg-text: #fff;
  --pst-color-dark: #222832;
  --pst-color-dark-text: #fff;
  --pst-color-dark-highlight: #030404;
  --sd-color-dark: var(--pst-color-dark);
  --sd-color-dark-text: var(--pst-color-dark-text);
  --sd-color-dark-highlight: var(--pst-color-dark-highlight);
  --pst-color-black: #14181e;
  --pst-color-black-text: #fff;
  --pst-color-black-highlight: #000;
  --sd-color-black: var(--pst-color-black);
  --sd-color-black-text: var(--pst-color-black-text);
  --sd-color-black-highlight: var(--pst-color-black-highlight);
  --pst-color-white: #fff;
  --pst-color-white-text: #14181e;
  --pst-color-white-highlight: #d9d9d9;
  --sd-color-white: var(--pst-color-white);
  --sd-color-white-text: var(--pst-color-white-text);
  --sd-color-white-highlight: var(--pst-color-white-highlight);
  --pst-color-table: var(--pst-color-border);
}



/* pre {
  margin: 1.5em 0;
  padding: 10px;
  line-height: 1.2em;
  color: #ccc;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 0;
  box-shadow: 1px 1px 1px #d8d8d8;
} */

/* Navbar */
.bd-header .navbar-nav li a.nav-link:hover {
  text-decoration: none;
}
.bd-header .navbar-nav > .current > .nav-link {
	border-bottom: none;
}

@media (min-width: 960px) {
  .bd-page-width {
    max-width: inherit;
  }
}
/* .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 2560px;
} */

/* Sidebar */

@media (min-width: 1200px) {
  .bd-sidebar-primary {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

/* Main content */
@media (min-width: 1200px) {
  .bd-main .bd-content .bd-article-container {
    max-width: 85em;
  }
}

/* Tables */

table.docutils {
  margin-left: 0;
}

table.docutils td,
table.docutils th {
  padding: 4px 11px;
  border: 1px solid var(--pst-color-table);
}

details.opblock-details {
  /* padding: 4px 11px; */
  border: 1px solid var(--pst-color-table);
}

details.opblock-details summary {
  padding: 6px 11px;
  border-bottom: 1px solid var(--pst-color-table);
}

/* details > summary:first-of-type::-webkit-details-marker,
details > summary:first-of-type::marker {
  display: none;
  content: none;
}
details > summary:first-of-type::after {
  content: ' ►';
}
details[open] > summary:first-of-type:after {
  content: " ▼";
} */

details.opblock-details summary code {
  /* font-family: var(--pst-font-family-monospace-system); */
  font-weight: 600;
  color: var(--pst-color-text-base);
}

/* details.opblock-details summary.opblock-summary-post {
  border-color: 1px solid var(--pst-color-table);
} */

details.opblock-details summary > code:first-child {
  color: var(--pst-color-primary-text);
  padding: 6px 13px;
  background-color: var(--sd-color-muted-bg);
  border-radius: 3px;
}

details.opblock-details summary.opblock-summary-get > code:first-child {
  background-color: var(--pst-color-info);
}
details.opblock-details summary.opblock-summary-post > code:first-child {
  background-color: var(--pst-color-success);
}
details.opblock-details summary.opblock-summary-delete > code:first-child {
  background-color: var(--pst-color-danger);
}

details.opblock-details > p,
details.opblock-details > section {
  margin-left: 13px;
  margin-right: 13px;
}

details.opblock-details > section h3 {
  font-size: var(--pst-font-size-section-h3);
}